<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316153145703-gjiogjf5g3r80sufo4qvq4k3f7t1a8b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316153145703-gjiogjf5g3r80sufo4qvq4k3f7t1a8b0</string>
	<key>API_KEY</key>
	<string>AIzaSyBtVCVWKnttEu6OUoFwbWzbhd7_lP8nDl0</string>
	<key>GCM_SENDER_ID</key>
	<string>316153145703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erbilcan.SifaliBitkiler</string>
	<key>PROJECT_ID</key>
	<string>sifalibitkilerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sifalibitkilerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316153145703:ios:4500c0a7a0f7970ef3e7c2</string>
</dict>
</plist>